<div flex layout="column" ng-class="{'win':match.participant.p.stats.win}" class="match">
  <div layout-padding layout="row" class="match-head">
    <div class="match-head-outcome" flex=25>
      {{matchOutcome}} - {{kdr}}
    </div>
    <div flex></div>
    <div flex layout="row">
      <div flex></div>
      <div>Length: {{runningMins}}</div>
    </div>
  </div>
  <div layout-padding layout="row" class="match-content">
    <div flex layout="row">
      <div>
        <img alt="{{match.participant.champion.id}}" ng-src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/{{match.participant.champion.id}}.png">
      </div>
      <div style="padding-left:10px;" flex layout="column">
        <div>
          Summoner: {{summoner.name}}
        </div>
        <div>
          Level: {{match.participant.p.stats.champLevel}}
        </div>
        <div>
          Creep Count: {{numCreeps}}
        </div>
        <div>
          Minion: {{match.participant.p.stats.totalMinionsKilled}}
          Monster: {{match.participant.p.stats.neutralMinionsKilled}}
        </div>
        <div>
          Creeps/min: {{creepsPerMin}}
        </div>
      </div>
    </div>
    <div layout="column" flex>
      <div>
        Items
      </div>
      <div layout="row">
        <div class="item-icon">
          <img alt="{{match.participant.p.stats.item1}}" ng-if="match.participant.p.stats.item1 > 0" ng-src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/item/{{match.participant.p.stats.item1}}.png"></img>
        </div>
        <div class="item-icon">
          <img alt="{{match.participant.p.stats.item2}}" ng-if="match.participant.p.stats.item2 > 0" ng-src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/item/{{match.participant.p.stats.item2}}.png"></img>
        </div>
        <div class="item-icon">
          <img alt="{{match.participant.p.stats.item3}}" ng-if="match.participant.p.stats.item3 > 0" ng-src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/item/{{match.participant.p.stats.item3}}.png"></img>
        </div>
      </div>
      <div layout="row">
        <div class="item-icon">
          <img alt="{{match.participant.p.stats.item4}}" ng-if="match.participant.p.stats.item4 > 0" ng-src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/item/{{match.participant.p.stats.item4}}.png"></img>
        </div>
        <div class="item-icon">
          <img alt="{{match.participant.p.stats.item5}}" ng-if="match.participant.p.stats.item5 > 0" ng-src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/item/{{match.participant.p.stats.item5}}.png"></img>
        </div>
        <div class="item-icon">
          <img alt="{{match.participant.p.stats.item6}}" ng-if="match.participant.p.stats.item6 > 0" ng-src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/item/{{match.participant.p.stats.item6}}.png"></img>
        </div>
      </div>
    </div>
    <div layout="column" flex>
      <div>
        Runes
      </div>
      <div layout="row">
        <div ng-repeat="rune in match.participant.p.runes track by $index">
          <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/rune/{{runes.data[rune.runeId].image.full}}" />
        </div>
      </div>
    </div>
  </div>
</div>