<!doctype html>
<html ng-app="app">
    <head>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.7/angular-material.min.css">
        <link rel="stylesheet" href="public/css/css.css">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-messages.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.7/angular-material.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        
        <script src="async/dist/async.js"></script>

        <!-- JS -->
        <script src="public/js/app.js"></script>
        <script src="public/js/services/doer.js"></script>
        <script src="public/js/services/league.js"></script>
        <script src="public/js/services/match.js"></script>
        <script src="public/js/controller.js"></script>
        <script src="public/js/directive.js"></script>
    </head>
    <body>
        
        <div layout="column" ng-controller="listCtrl as ctrl">
            <div layout="row" class="header">
                <md-input-container layout-fill>
                    <label>Summoner Name</label>
                    <input ng-disabled="ctrl.isLoading" layout-fill ng-change="ctrl.fetch()" type="text" ng-model="ctrl.user">
                </md-input-container>
            </div>
            <div ng-if="ctrl.isLoading" layout="column" layout-align="center center" layout-margin>
                <i class="fas fa-pulse fa-spinner loading-icon"></i>
            </div>
            <md-content ng-if="!ctrl.isLoading" layout-fill flex class="content">
                <md-list flex layout-fill layout=column>
                    <md-list-item class="md-2-line" ng-repeat="m in ctrl.matches track by $index">
                        <match-directive
                        items="ctrl.items"
                        runes="ctrl.runes"
                        champions="ctrl.champions"
                        summoner="ctrl.summoner"
                        match="m"></match-directive>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
    </body>
</html>

