body {
    background: grey;
}

.header {
    min-height: 100px;
    border-bottom: 1px solid grey;
    background: white;
    padding: 0px 20px;
    font-size: 20px;
}

.loading-icon {
    font-size: 100px;
    color: white;
}

.content {
    background: grey;
}

.content
.match {
    background: black;
}

.match
.match-head
.match-head-outcome {
    font-weight: bolder;
}

.match
.match-head {
    color: white;
    background: rgba(255,0,0,.75);
    border-bottom: 2px rgba(255,255,255,.5) solid;
}

.match
.match-content {
    color: lightgray;
    background: rgba(255,0,0,.2);
    min-height: 100px;
}

.match
.match-content
.item-icon {
    width:64px;
    height:64px;
    background: rgba(255,255,255,.05);
}

.match.win
.match-head {
    background: rgba(0,255,0,.75);
}

.match.win
.match-content {
    background: rgba(0,255,0,.2)!important;
}